name: Déployer site HTML sur GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload site files
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./

      - name: Déployer sur GitHub Pages
        uses: actions/deploy-pages@v1
